@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,700&display=swap');


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero{
  background: #f5f5f5;
  height: 100vh;
}

.hdr{
  position: fixed;
  left: 0;
  right: 0;
  padding: 30px 0;
  z-index: 999;
}

.hero_text h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 52px;
  color: #343434;
  position: relative;
  z-index: 2;;
}

.hero_text h1 img{
  position: absolute;
  left:-40px;
  top:-40px;
  z-index:1;
}

.hero_text h1:before{
  position: absolute;
  content: "";
  background-image: url(./images/quote.png);
  top: -40px;
  left: -40px;
  width: 106px;
  height: 84px;
}

.hero_text h1 span{
  color: #57bbad;
}

.hero_text span.byname i{
  font-family: Raleway;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  text-transform: lowercase;
  letter-spacing: 0;
}

.hero_text span.byname{
  color: #292929;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  opacity: 0.8;
  margin: 40px 0;
  display: block;
}

.btn1{
    background: #cbb47d;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 55px;
    display: inline-block;
}

.btn1:hover{
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.top_menu li a{
  font-family: Raleway;
  font-weight: 400;
  color: #282828;
}

.content-block1 h2{
  font-family: 'Raleway';
  font-size: 27.83px;
  text-transform: uppercase;
  font-weight: 300;
  color: #000000;
}

.content-block1 p{
    font-family: 'Raleway';
    font-weight: 400;
    color: #5b5b5b;
    font-size: 14px;
    line-height: 1.8;
}

.introText{
  padding: 140px 0;
}

.introText h2{
  margin-bottom: 40px;
}

.introText p{
  margin-bottom: 20px;
}

.introInner{
  text-align: center;
}

.introInner span{
  display: block;
  font-family: 'Raleway';
  font-size: 20px;
  color: #000;
  font-weight: 300;
  margin: 15px 0 0 0;
}

.y-icon{
  position: absolute;
  left: 0;
  top: -100px;
}

.y-icon-bottom{
  position: absolute;
  right: 0;
  bottom: -100px;
}

.HomeServices h2{
  margin-bottom: 60px;
}

.hs_box:after{
  position: absolute;
  content: "";
  background: #bfc3c2;
  height: 0;
  width: 1px;
  bottom: -90px;
  transition: 1s;
}

.hs_box.active:after{
  position: absolute;
  content: "";
  background: #bfc3c2;
  height: 70px;
  width: 1px;
  bottom: -90px;
  transition: 1s;
}

.hs_box{
  position: relative;
  z-index: 2;
}

.hs_box img{
  width:100%;
}

.hs_box a{
  font-family: Raleway;
  font-weight: 300;
  color: rgba(0,0,0,0.9);
  font-size: 14px;
  text-transform:uppercase;
  display: block;
  margin-top: 20px;
}

.hs_box a:hover{
  color: #000;
  text-decoration: none;
}

.HomeServices .row .hs_box{
  margin-bottom: 60px;
}

.childboxes{
  background: #f5faf9;
  padding: 280px 0 50px 0;
  margin-top: -220px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}

.childboxes h3{
  font-family: Raleway;
  font-weight: 300;
  font-size: 18px;
  color:#000;
  margin-bottom: 40px;
}

.childboxes ul li{
  flex: 0 0 25%;
  margin-bottom: 20px;
}

.childboxes ul li a{
  font-family: Raleway;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-left: 38px;
  display: block;
}

.childboxes ul li a:before{
  position: absolute;
  content: "";
  background: url(./images/arrow-li.jpg) no-repeat #fff;
  width: 17px;
  height: 18px;
  top: -1px;
  left: 0;
  background-position: center;
}

.HomeBlogs{
  padding: 140px 0;
}

.HomeInstagram{
  padding: 140px 0 0 0;
}

.BookCTA{
  padding: 140px 0;
}

.HomeBlogs h2{
  margin-bottom: 60px;
}

.blogbox img{
  width: 100%;
}

.blogbox .blog_date{
  font-weight: 400;
  font-size: 14px;
  color: #cab891;
  text-transform: uppercase;
  margin-top: 25px;
}

.blogbox .blog_title{
  font-family: 'Raleway';
  font-weight: 300;
  color: #232323;
  font-size: 24px;
  line-height: 1.4;
  margin:14px 0;
}

.blogbox .blog_title:hover{
  text-decoration: none;
}

.read_more{
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  text-transform: uppercase;
}

.read_more:hover{
  color: #000;
}

.btn2{
  background: #cab891;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 35px;
  display: inline-block;
  letter-spacing: 2px;
  font-family: Raleway;
}

.btn2:hover{
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}

.small-heading h2{
  font-size: 15px;
  color: #1f1f1f;
  letter-spacing: 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-heading h2 img{
  width: 18px;
  margin-right: 15px;
}

.HomeInstagram img{
  width: 100%;
}

.HomeInstagram .row .col-xl-3{
  padding: 4px;
}

.content-block2 h2{
  font-family: Raleway;
  font-weight: 300;
  font-size: 31px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.content-block2 h2:after{
  position: absolute;
  content: "";
  background: #e7dcc2;
  height: 2px;
  width: 10%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}

.content-block2 p{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 14px;
  color: #5b5b5b;
  line-height: 2;
  margin: 0 0 30px 0;
}

.HomeVideo{
  background: url(./images/video.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  height: 520px;
}

.HomeVideo a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HomeVideo img{
  transform: scale(1);
  transition: 0.5s;
}

.HomeVideo:hover img{
  transform: scale(1.2);
  transition: 0.5s;
}

.Footer{
  padding: 140px 0;
}

.Footer h3 {
  font-family: 'Raleway';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}

.Footer p, .Footer a{
  font-family: Raleway;
  font-weight: 500;
  font-size: 12.5px;
  color: #5b5b5b;
}

.Footer a:hover{
  color: #000;
  text-decoration: none;
}

.newsletterbox form{
  margin-top: 20px;
  position: relative;
}

.newsletterbox input[type="email"]{
  border-bottom: 1px solid #f4f4f6 !important;
  border: none;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 11px;
  padding: 12px 0px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  outline: none;
  width: 100%;
}

.newsletterbox input[type="submit"]{
  border: none;
  background: url(./images/send.svg) #cdb08f no-repeat;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  background-size: 15px;
  background-position: center;
  outline: none;
}

.newsletterbox input[type="submit"]{
  position: absolute;
  right: 0;
}

.copyright{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 12px;
  color: #5b5b5b;
  opacity: 0.5;
  display: block;
  margin-top: 45px;
}

.gray_bg{
  position: relative;
  height: 600px;
}

.gray_bg .container:after{
  position: absolute;
  content: "";
  background: #f6f6f6;
  width:80%;
  height: 100%;
  top: 0;
  left: -125px;
  z-index: 1;
}

.gray_bg .content-block3{
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.gray_bg .content-block3 h2{
  margin-bottom: 25px;
}

.content-block3 h2{
  font-family: 'Raleway';
  font-size: 27.83px;
  text-transform: uppercase;
  font-weight: 300;
  color: #000000;
  line-height: 1.5;
}

.content-block3 h2 span{
  color:#cab891;
}

.gray_bg .product_slider{
  position: relative;
  z-index: 2;
  /* width: 600px; */
  margin-left: -10px;
  display: flex;
  height: 100%;
  align-items: center;
}

.product_slider .slick-slide .product_slider_box {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  /* margin: 0px 15px; */
  box-shadow: 2px 0px 15px rgb(0 0 0 / 7%);
}

.product_slider_box img{
  width: 100%;
}

.product_slider_box a{
  display: block;
}

.product_slider_box .pro_title{
  font-family: Raleway;
  font-weight: 800;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.product_slider_box .span{
  color: #717171;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 200;
}

.product_slider_box .span .small{
  font-size: 10px;
  font-style: normal;
}

.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: 0.5s;
}

.navbar{
  padding:0 !important;
}

.header_icons svg{
  width: 20px;
  fill: #60c39a;
}

.navbar-nav li a {
  font-family: 'Raleway';
  font-weight: 500;
  color: #282828;
  font-size: 14px;
  margin: 0 20px;
  text-transform: uppercase;
}

.navbar-nav li:nth-last-child(1) a{
  color: #a78854;
  background: #e9e4df;
  border-radius: 20px;
  padding: 10px 24px !important;
}

.custom_arrow .slick-prev:before, .custom_arrow .slick-next:before{
  display: none;
}

.custom_arrow .slick-prev{
  background: url(./images/left_arrow.png);
  left: -50px;
}
.custom_arrow .slick-next{
  background: url(./images/right_arrow.png);
  right: -50px;
}

.custom_arrow .slick-prev, .custom_arrow .slick-next{
  width: 17px;
  height: 16px;
}

.navbar-toggler{
  position: relative;
  background: #000;
  width: 80% !important;
  height: 1px !important;
  border-radius: 0;
  border: none;
  padding: 0;
  top:-4px;
  transition: 0.5s;
}

.navbar-toggler-icon{
  position: absolute;
  top: 0;
  background: #000 !important;
  width: 100% !important;
  height: 1px !important;
  left: 0;
  transition: 0.5s;
}

.navbar-toggler:before {
  position: absolute;
  content: "";
  background: #000;
  height: 1px;
  width: 100%;
  top: -8px;
  left: 0;
  transition: 0.5s;
}

.navbar-toggler:after {
  position: absolute;
  content: "";
  background: #000;
  height: 1px;
  width: 100%;
  bottom: -1px;
  left: 0;
  transition: 0.5s;
}

.navbar-open:before{
  transform: rotate(45deg);
  transition: 0.5s;
  top: 0;
}

.navbar-open:after{
  transform: rotate(-45deg);
  transition: 0.5s;
  bottom: 7px;
}

.change_header{
  background: #fff;
  height: 100%;
  transition: 0.5s;
}

.navbar-open .navbar-toggler-icon{display:none;}


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar-collapse .navbar-brand{display:none;}
  .gray_bg{height: auto;padding:0 0 60px 0;text-align:center;}
  .gray_bg:after{width:100%;left: 0;}
  .gray_bg .content-block3{position:relative;right: 0;top: 0;transform: translate(0%, 0%);}
  .gray_bg .product_slider{max-width:100%;padding:0 30px;margin-left:0;}
  .custom_arrow .slick-prev{left:0;}
  .custom_arrow .slick-next{right:0;}
  .Footer{padding:60px 0;}
  .BookCTA{padding:60px 0;}
  .HomeInstagram{padding:0;}
  .HomeInstagram .row .col-xl-3{padding:0 15px;}
  .HomeBlogs{padding:60px 0;}
  .hero_text h1{font-size:38px;}
  .hero_text span.byname{font-size:15px;}
  .hero_text span.byname i{font-size:15px;}
  .btn1{padding:14px 42px;}
  .hero_text h1:before{left:0;background-size:50px;width:52px;height:44px;}
  .y-icon{opacity:0.2;}
  .introText{padding:60px 0;}
  .hero{height:90vh;background-position:bottom;background-repeat:no-repeat;background-size:160% !important;}
  .navbar-brand img{width:100%;}
  .HomeServices h2{margin-bottom:10px;}
  .childboxes{padding:300px 0 0 0;width:100%;margin-bottom:20px;}
  .childboxes ul li{flex:0 0 100%;text-align:left;}
  .HomeServices .row1 .hs_box, .HomeServices .row2 .hs_box{margin-bottom:0px;}
  .HomeServices .row2 .col-xl-3:nth-last-child(1) .hs_box{margin-bottom:0 !important;}
  .hs_box.active:after{bottom:-62px;height:50px;}
  .product_slider .slick-slide .product_slider_box{box-shadow:none;}
  .gray_bg .container:after{width:100%;left:0;}
  .gray_bg .container{padding:60px 15px;}
  .gray_bg .row{justify-content:center;}
  .gray_bg .row .col-xl-6{order:2;}
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .childboxes ul li{flex:0 0 33.33%;}
  .row1 .childboxes, .row2 .childboxes{margin-top:-180px;padding-top:220px;}
  .hs_box a{font-size:12px;}
  .y-icon-bottom{bottom:-40px;width:180px;}
  .hero{background-size: 110% !important; background-position: bottom right -100px;}
  .navbar-brand img{width:180px;}
  .hero{height:75vh;}
  .hero_text h1:before{height:42px;width:50px;background-size:50px;}
  .hero_text h1{font-size:36px;}
  .hero_text span.byname{font-size:16px;}
  .btn1{padding:16px 45px;font-size:16px;}
  .introText{padding:60px 0;}
  .introInner span{font-size:16px;}
  .HomeServices h2{margin-bottom:20px;}
  .content-block1 h2{font-size:22px;}
  .HomeServices .row .hs_box{margin-bottom:20px;}
  .HomeBlogs{padding:60px 0;}
  .blogbox .blog_title{font-size:16px;}
  .read_more{font-size:12px;}
  .HomeBlogs h2{margin-bottom:40px;}
  .btn2{font-size:12px;padding:14px 35px;}
  .Footer{padding:80px 0;}
  .content-block1.Footer p br{display:none;}
  .BookCTA{padding:80px 0;}
  .content-block2 h2{font-size:26px;}
  .BookCTA.content-block2 p br{display:none;}
  .product_slider .slick-slide .product_slider_box{box-shadow:none;}
  .content-block3 h2{font-size:24px;}
  .y-icon{opacity:0.2;}
  .HomeInstagram{padding-top:80px;}
  .HomeInstagram .col-3{margin-bottom:30px;}
  .product_slider .slick-slide .product_slider_box{box-shadow:none;}
  .gray_bg .container:after{left:0;width:100%;}
  .gray_bg .row{justify-content:center;}
  .custom_arrow .slick-next{right:-20px;}
  .custom_arrow .slick-prev{left:-20px;}
  .gray_bg{height:500px;}
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .row1 .childboxes, .row2 .childboxes{margin-top:-180px;padding-top:240px;}
  .y-icon-bottom{bottom:-40px;width:180px;}
  .introText{padding:80px 0;}
  .content-block1 h2{font-size:26px;}
  .introInner span{font-size:16px;}
  .HomeServices h2{margin-bottom:30px;}
  .HomeServices .row .hs_box{margin-bottom:30px;}
  .hs_box.active:after{height:50px;bottom:-65px;}
  .HomeBlogs{padding:60px 0;}
  .blogbox .blog_title{font-size:18px;}
  .read_more{font-size:12px;}
  .content-block3 h2{font-size:24px;}
  .HomeInstagram{padding-top:80px;}
  .BookCTA{padding:80px 0;}
  .content-block2 h2{font-size:28px;}
  .Footer{padding:80px 0;}
  .hero{height:75vh;}
  .hero{background-size: 140% !important; background-position: bottom right -130px;}
  .hero_text h1:before{height:42px;width:50px;background-size:50px;left:0;}
  .hero_text h1{font-size:36px;}
  .hero_text span.byname{font-size:16px;}
  .btn1{padding:16px 45px;font-size:16px;}
  .navbar-brand img{width:150px;}
  .navbar-nav li a{font-size:12px;margin:0 8px;}
  .navbar-nav li:nth-last-child(1) a{padding:10px 14px !important}
  .navbar-nav li:nth-child(1){display:none;}
  .header_icons svg{width:15px;}
  .y-icon{opacity:0.3;}
  .btn2{padding:13px 25px;font-size:12px;font-weight:300;}
  .product_slider .slick-slide .product_slider_box{box-shadow:none;width:90% !important;}
  .gray_bg .container:after{left:0;width:100%;}
  .gray_bg .row{justify-content:center;}
  .custom_arrow .slick-next{right:-20px;}
  .custom_arrow .slick-prev{left:-20px;}
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991px) and (max-width: 1199.98px) {
  .y-icon-bottom{bottom:-40px;width:180px;}
  .navbar-nav li:nth-child(1){display:none;}
  .navbar-nav li a{margin:0 8px;}
  .navbar-brand img{width:200px;}
  .hero{height:90vh;background-size:140%;background-position:bottom right -220px;}
  .hero_text h1{font-size:42px;}
  .hero_text span.byname{font-size:18px;}
  .btn1{padding:16px 45px;}
  .introText{padding:100px 0;}
  .y-icon{opacity:0.3;}
  .HomeBlogs{padding:100px 0;}
  .BookCTA{padding:80px 0;}
  .Footer{padding:80px 0;}
  .gray_bg .product_slider{margin-left: 55px;}
  .gray_bg .content-block3{right:-50px;}
  .gray_bg .container:after{width:92%;}
  .product_slider .slick-slide .product_slider_box{box-shadow:none;width:90% !important;}
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navbar-nav li a{margin:0 10px;}
  .gray_bg .product_slider{margin-left:60px;}
}

@media (min-width: 1400px) and (max-width: 1599.98px) {
  .navbar-nav li a{margin:0 10px;}
}

@media (min-width: 1500px){
  .hs_box a{font-size:16.67px;}
  .childboxes h3{font-size:20px;}
  .childboxes ul li a{font-size:14px;}
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

@media (min-width: 1600px){
  .container{
    max-width: 1320px !important;
  }
}

@media (min-width: 1600px){
  .Header .container{
    max-width: 1600px !important;
  }
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .navbar-nav li a{margin:0;}
  .navbar-nav li:nth-last-child(1) a{margin-top:50px;}
  .collapse .navbar-brand{display:none !important;}
}